<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
    <test name="Browser Tests">
        <parameter name="browsers" value="chromium,firefox,webkit" />
        <packages>
            <package name="scenarios"/>
        </packages>
    </test>
</suite>
